<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 1) zmienna ścieżki do folderu logs -->
  <variable name="logDir" value="${basedir}/logs" />

  <targets>
    <!-- 2) plik błędów i zdarzeń -->
    <target name="file"
            xsi:type="File"
            fileName="${logDir}/errors.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
            archiveEvery="Day"
            maxArchiveFiles="7" />
  </targets>

  <rules>
    <!-- 3) wszystkie logowania Info+ do pliku -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
