<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logDir" value="${aspnet-appbasepath}/logs" />

  <targets>
    <target name="all"
            xsi:type="File"
            fileName="${logDir}/log.log"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
            archiveEvery="Day"
            maxArchiveFiles="7" />

    <target name="errors"
            xsi:type="File"
            fileName="${logDir}/errors.log"
            createDirs="true"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}"
            archiveEvery="Day"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <logger name="*" minlevel="Warn" writeTo="errors" />
    <logger name="*" minlevel="Info" writeTo="all" />
  </rules>
</nlog>
