@{
    ViewData["Title"] = "Panel użytkownika";
}

<h2 class="mt-4">Panel</h2>

@if (User.IsInRole("Admin"))
{
    <p><strong>PANEL ADMINISTRATORA</strong></p>
    <div class="d-grid gap-2">
        <a asp-controller="Admin" asp-action="RegisterUser" class="btn btn-primary">Stwórz nowego użytkownika</a>
        <a asp-controller="Admin" asp-action="EditRoles" class="btn btn-primary">Zmień rolę użytkowników</a>
        <a asp-controller="Admin" asp-action="Users" class="btn btn-primary">Wyświetl listę użytkowników</a>
        <a asp-controller="Customer" asp-action="Add" class="btn btn-success">Dodaj klienta</a>
        <a asp-controller="Customer" asp-action="List" class="btn btn-success">Wyświetl klientów</a>
    </div>
}

else if (User.IsInRole("Mechanic"))
{
    <p><strong>PANEL MECHANIKA</strong></p>
    <p>Twoje zadania będą widoczne tutaj.</p>
}
else if (User.IsInRole("Receptionist"))
{
    <p><strong>PANEL RECEPCJONISTY</strong></p>
    <p>Twoje zadania będą widoczne tutaj.</p>
    <div class="d-grid gap-2">
        <a asp-controller="Customer" asp-action="Add" class="btn btn-success">Dodaj klienta</a>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-success">Wyświetl klientów</a>
    </div>
}
else
{
    <p>Nie przypisano Ci roli lub nie masz dostępu.</p>
}